*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.flex.ul_cont{
    max-width: 60%;
    margin: 0 auto;;
    justify-content: space-between;
}
.nav_header{
    max-height: 60px;
    background-color: blue;  
}
.nav_header ul li{
    list-style-type: none;
}
.flex.link{
    justify-content: space-between;
    align-items: center;
}
.max_w60{
    max-width: 60%;
    flex-wrap: wrap;
    margin: 30px  auto;
    justify-content: space-between;
}
.bg_first{
    background-color:#B5DDFF;
}
.primo{
    width:66%;
    min-height: 270px;
}
.secondo,.terzo,.quarto,.quinto{
    width: 33%;
    min-height: 270px;
}
.bg_purple{
    background-color: blueviolet;
}
.second_sect{
    max-width: 46%;
    margin: 0 auto;
}
.prima_col{
    width:50%;
    background-color: orange;
    min-height: 730px;
}
.seconda_col{
    width: 50%;
    background-color: orange;
    min-height: 730px;
}
.terza_sect{
    min-height: 920px;
}
.titolo{
    min-height: 150px;
}
.flex_col{
    display: flex;
    min-height: 720px;
    flex-direction: column;
    justify-content: space-between;
}
.linea{
    min-height: 220px ;
}

.linea_uno,.linea_due{
    width: 60%;
    margin: 20px auto;
    justify-content: space-between;
}
.linea_uno .max_w30,.linea_due .max_w30{
    width: 30%;
    background-color: orange;
    height: 330px; 
}
.about_us{
    max-width: 60%;
    height:500px;
    background-color:blue;
    margin: 70px auto;
}
.bg_orange{
    background-color: orange;
    width: 93%;
    height: 500px;
    margin:0 auto;
}
.max_w70{
   width: 70%;
}
.bg_green{
    background-color: green;
}
.bg_yellow{
    background-color: yellow;
}
.max_w30{
    width: 30%;
}
.inizia{
    margin: 20px auto 0px auto;
}
.info_inizia{
    height:400px;
    width: 29%;

}

footer{
    min-height: 60px;
    background-color: grey;
}
.bg_red{
    width: 21%;
    background-color: red;
    min-height: 30px;
    margin:30px auto 50px auto;
}
footer .bg_green{
    width: 19%;
    background-color: green;
    min-height: 30px;
    margin: 0px auto 30px auto;
}