
        /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Sans'
}
ul li{
    list-style-type: none;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
button{
    border: none;
    border-radius: 10px;
    padding: 5px;
}
:root{
    --blu:#0084FD;
    --viola:#9792E4;
    --azzurro:#B5DDFF;
    --bianco:#ffffff;
}

      /* UTILITIES */
.flex{
    display: flex;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.centrato{
    margin-inline: auto;
}
.bg-blu{
    background-color: var(--blu);
}


        /* GENERALI */
nav{
    padding: 0.5rem;
    justify-content: space-between;
}




.ul-destra{
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.ul-destra li a{
    color: var(--bianco);
}
.ul-destra li button{
    background-color: var(--bianco);
}
.ul-destra li i{
    display: none;
}




        /* MEDIA QUERY */
        
@media screen and (max-width:480px) {
            /* HEADER */
    .ul-destra li a,.ul-destra li button{
         display: none;
    }
    .ul-destra{
        justify-content: flex-end;
    }
    .ul-destra li i{
        display: inline-block;
        color: var(--bianco);
    }
            
}
@media screen and (min-width:481px) and (max-width:768px) {
        /* HEADER */
    header nav.w-70{
        width: 100%;
        justify-content: space-around;
    }
    .ul-destra li a,.ul-destra li button{
        display: none;
    }
    .ul-destra{
        justify-content: flex-end;
    }
    .ul-destra li i{
        display: inline-block;
        color: var(--bianco);
    }
 }