
        /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Sans'
}
ul li{
    list-style-type: none;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
button{
    border: none;
    border-radius: 10px;
    padding: 5px;
}
:root{
    --blu:#0084FD;
    --viola:#9792E4;
    --azzurro:#B5DDFF;
    --bianco:#ffffff;
    --viola:#9792E4;
}

      /* UTILITIES */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.dir-col{
    flex-direction: column;
}
.space-btwn{
    justify-content: space-between;
}
.w-15{
    width: 15%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.centrato{
    margin-inline: auto;
}
.bg-blu{
    background-color: var(--blu);
}
.bg-azzurro{
    background-color: var(--azzurro);
    border-radius: 10px;
}
.bg-viola{
    background-color: var(--viola);
}
.color-viola{
    color: var(--viola);
}
.bg-bianco{
    background-color: var(--bianco);
}
.color-white{
    color:var(--bianco);
}
.text-center{
    text-align: center;
}
.gap{
    gap: 20px;
}
.pad-sm{
    padding: 20px;    
}
.cerchio{
    border-radius: 50%;
}
.border-rad-m{
    border-radius: 20px;
}
.relative{
    position: relative;
}
.align-flex-end{
    align-self: flex-end;
}




        /* GENERALI */
nav{
    padding: 0.5rem;
}
h2,h3,h4{
    margin-block: 1.5rem;
}
p{
    margin-bottom: 1rem;
    line-height: 160%;
}
section{
    padding-block: 2rem;
}
.about-us h2{
    font-size: 2.5rem;
    margin-top: 0;
}
.about-us p:nth-child(2){
    margin-block: 3rem;
}


.ul-destra{
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.ul-destra li a{
    color: var(--bianco);
}
.ul-destra li button{
    background-color: var(--bianco);
}
.ul-destra li i{
    display: none;
}
.get-demo h4{
    color: var(--blu);
}


.card-testo-img{
    flex-basis: calc(100% / 3 * 2);
}
.card-testo{
    flex-basis: calc(100% / 3 - 20px);
}
.card{
    min-height: 30vh;
}
.card i.top{
    font-size: 3rem;
    color: var(--blu);
}
.phone,.phone img{
    height: 25vh;
}
.planning .container{
    min-height: 70vh;
}

.app figure,.app figure img{
   height: 30vh;
}
 
.testimonials h2{
    color: var(--viola);
}
.card-test{
    align-items: center;
}
.test{
    height: 20vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.test-1{
    background-image: url(../img/testimonial1.jpg);  
}
.test-2{
    background-image: url(../img/testimonial2.jpg);
}
.test-3{
    background-image:url(../img/testimonial3.jpg);
}

.about-us-img{
    background-image: url(../img/about.jpg);
    height: 15vh;
}
i.absolute{
    position: absolute;
    font-size: 3rem;
    color: var(--viola);
    right: 0;
    top: 0;
}
        /* MEDIA QUERY */
        
@media screen and (max-width:480px) {
            /* HEADER */
    .ul-destra li a,.ul-destra li button{
         display: none;
    }
    .ul-destra{
        justify-content: flex-end;
    }
    .ul-destra li i{
        display: inline-block;
        color: var(--bianco);
    }
            /* MAIN */
    .container{
        width: 90%;
    }
    .container.flex,.flex.card{
        flex-direction: column;
    }
    .testo-img .w-60,.phone,.app,.strategic{
        width: 100%;
    }
    .card-test{
        flex-direction: column;
        text-align: center;
    }
    .test{
        width: 50%;
        align-self: center; 
    }
    .features .card-testo{
        flex-basis: 100%;
    }
    .about-us .flex{
        flex-direction: column;
    }
    .about-us .flex .w-70{
        width: 100%;
    }
    .about-us .w-15{
        width: 60%;
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
        /* HEADER */
    header nav.w-70{
        width: 100%;
        justify-content: space-around;
    }
    .ul-destra li a,.ul-destra li button{
        display: none;
    }
    .ul-destra{
        justify-content: flex-end;
    }
    .ul-destra li i{
        display: inline-block;
        color: var(--bianco);
    }
        /* MAIN */
    .container{
        width: 90%;
    }
    .testo-img,.planning .container{
        flex-direction: column;
    }
    h4{
        margin-block: 1rem;
    }

    .flex.card .w-60,.app,.strategic,.test{
        width: 100%;
    }
    .phone{
        align-self: flex-start;
    }
    .features .card-testo{
        flex-basis:calc(50% - 20px);
    }
 }